.levus-horizontal-scroll {
    overflow: hidden;
    padding-top: 50px;
    position: relative;
}

.levus-horizontal-scroll ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    position: relative;
}

.levus-horizontal-scroll li {
    display: inline-block;
    width: 25%;
}

.levus-horizontal-scroll img {
    width: 100%;
    display: block;
}

.levus-horizontal-scroll .left,
.levus-horizontal-scroll .right {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: red;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 1;
}

.levus-horizontal-scroll .left {
    right: 50px;
}

.levus-horizontal-scroll .right {
    right: 0;
}